* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: relative;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 50%;
    color: #fff;
    transition: background-color 0.2s;
}

.prev:hover,
.next:hover {
    background-color: rgba(0,0,0,1);
    cursor: pointer;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.dots {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 200px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 20px;
    color: rgba(255,255,255,0.7);
}

.dots i:hover {
    color: rgba(255,255,255,1);
    cursor: pointer;
}

.dots i.active {
    color: dodgerblue;
}

.images img {
    max-height: 90vh;
    width: 100%;
}